*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;;
}

a{
    text-decoration: none;
}

.white h1, .white h2, .white h3, .white h4, .white h5, .white h6, .white p, .white a, input, strong{
    color: white;
}
/* OPEN NAV*/
.nav-bar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul li{
    list-style: none;
}

.nav-bar ul li a{
    color: #ffffff;
    padding: 0px 10px 0px 10px;
    font-size: 22px;
}

.logo{
    padding-right: 100px;
}

.btn-nav{
    margin-left: 100px;
}
/*END NAV*/

.img-header{
    height: 570px;
    padding-right: 100px;
}

/* OPEN CONTAINERS*/
.container-global{
    width: 1440px;
    height: 8000px;
    margin: auto;
    background-color: rgba(255, 0, 0, .5);
    border: 2px solid gray;
    
}

.container-nav{
    width: 1440px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #daac00;
}

.btns-yellow{
    background-color: #fcc302;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 15px;
    margin-right: 50px;
    border-radius: 5px;
    width: 110px;
    height: 40px;
}

div a.btn-buy{
    background-color: #00bec9;
    color: #ffffff;
    padding: 15px;
    border-radius: 30px;
    width: 200px;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
    
}

.btns-yellow:hover{
    transform:scale(1.1);
    cursor: pointer;
    background-color: #00bec9;
}
/*--------------------------------------------------------------------------------------------------------*/
/*OPEN SECCION 1*/
    
.container-seccion1{
    width: 1440px;
    height: 780px;
    display: flex;
    background-color: #fcc302;
}
    /*OPEN CONTAINER LETRAS SECCION 1*/
.container-letras-seccion1{
    width: 870px;
    height: 780px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}

.container-letras-seccion1 h1{
    color: #ffffff;
    font-size: 70px;
}

.container-letras-seccion1 p{
    color: white;
    font-size: 30px;
}
    /*END CONTAINER LETRAS SECCION 1*/
    /*OPEN CONTAINER IMG SECCION 1*/
.container-img-header{
    width: 570px;
    height: 780px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-btn-seccion1{
    padding-top: 50px;
}

.container-btn-seccion1 a{
    font-size: 25px;
    
}
    /*END CONTAINER IMG SECCION 1*/



/*END SECCION 1*/
/*-------------------------------------------------------------------------------------------------*/
/*OPEN SECCION 2*/
.container-seccion2{
    width: 1440px;
    height: 794px;
    display: flex;
    background-color: #ffffff;
}
    /*OPEN CONTAINER LETRAS SECCION 2*/
.container-letras-seccion2{
    width: 753px;
    height: 794px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.container-letras-seccion2 h1{
    color: black;
    font-size: 50px;
    font-weight: 600;
    margin-left: 100px;
    
}

.container-letras-seccion2 p{
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 100px;
}

.container-letras-seccion2 a{
    font-size: 25px;
    width: 150px;
    margin-left: 100px;
}
    /*END CONTAINER LETRAS SECCION 2*/
    /*OPEN CONTAINER IMG SECCION 2*/
.container-img-seccion2{
    width: 687px;
    height: 794px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-seccion2{
    height: 517px;
    padding-right: 100px;
    position: absolute;
}

.img-play{
    position: absolute;
    height: 94px;
}

.img-play:hover{
    transform:scale(1.25);
    cursor: pointer;
}

/*END SECCION 2*/
/*-------------------------------------------------------------------------------------------------*/
/*OPEN SECCION 3*/
.container-seccion3{
    width: 1440px;
    height: 1016px;
    background-color: #fcc302;
}
    /*OPEN CONTAINER LETRAS SECCION 3*/
.container-letras-seccion3{
    width: 1440px;
    height: 375px;
    background-color: #fcc302;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-letras-seccion3 h1{
    color: #ffffff;
    font-size: 65px;
}

.container-letras-seccion3 p{
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
}

    /*END CONTAINER LETRAS SECCION 3*/
    /*OPEN CONTAINER IMG SECCION 3*/
.container-img-seccion3{
    width: 1440px;
    height: 641px;
    background-color: #fcc302;
    display: flex;
    justify-content: center;
    justify-content:space-evenly;
}

    .container-img-seccion3 h3{
        color: #ffffff;
        text-align: center;
        font-size: 28px;
        padding-top: 15px;
    }

    .container-img-seccion3 p{
        color: #ffffff;
        text-align: center;
        font-size: 20px;
    }
    /*END CONTAINER IMG SECCION 3*/

/*END SECCION 3*/
/*OPEN SECCION 4*/
.container-seccion4{
    width: 1440px;
    height: 794px;
    display: flex;
    flex-direction: row-reverse;
    background-color: #ffffff;
}
    /*OPEN CONTAINER LETRAS SECCION 4*/
.container-letras-seccion4{
    width: 753px;
    height: 794px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.container-letras-seccion4 h1{
    color: black;
    font-size: 50px;
    font-weight: 600;
    margin-left: 100px;
    
}

.container-letras-seccion4 p{
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 100px;
}

.container-letras-seccion4 a{
    font-size: 25px;
    width: 150px;
    margin-left: 100px;
}
    /*END CONTAINER LETRAS SECCION 4*/
    /*OPEN CONTAINER IMG SECCION 4*/
.container-img-seccion4{
    width: 687px;
    height: 794px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-seccion4{
    height: 517px;
    padding-left: 100px;
    position: absolute;
}

.img-play-seccion4{
    position: absolute;
    height: 94px;
}

.img-play-seccion4:hover{
    cursor: pointer;
}

/*END SECCION 4*/
/*---------------------------------------------------------------------------------------------------------*/
/*OPEN SECCION 5*/
.container-seccion5{
    width: 1440px;
    height: 1016px;
    background-color: #fcc302;
}
    /*OPEN CONTAINER LETRAS SECCION 5*/
.container-letras-seccion5{
    width: 1440px;
    height: 375px;
    background-color: #fcc302;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-letras-seccion5 h1{
    color: #ffffff;
    font-size: 65px;
}

.container-letras-seccion5 p{
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
}

    /*END CONTAINER LETRAS SECCION 5*/
    /*OPEN CONTAINER IMG SECCION 5*/
.container-img-seccion5{
    width: 1440px;
    height: 641px;
    background-color: #fcc302;
    display: flex;
    justify-content: center;
    justify-content:space-evenly;
}

    .container-img-seccion5 h2{
        color:#ffffff;
        text-align: center;
        font-size: 50px;
    }

    .container-img-seccion5 span{
        text-decoration: line-through;
    }

    .container-btn-buy{
        display: flex;
        justify-content: center;
    }

    .btn-buy:hover{
        transform:scale(1.1);
        border: 2px solid white;
    }
    /*END CONTAINER IMG SECCION 5*
/*END SECCION 5*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*OPEN SECCION 6*/
.container-seccion6{
    width: 1440px;
    height: 1073px;
    background-color: #ffffff;
}
    /*OPEN CONTAINER LETRAS SECCION 6*/
.container-letras-seccion6{
    width: 1440px;
    height: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-letras-seccion6 h1{
    color: black;
    font-size: 65px;
}

.container-letras-seccion6 p{
    color: black ;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
}

    /*END CONTAINER LETRAS SECCION 6*/
    /*OPEN CONTAINER IMG SECCION 6*/
.container-img-seccion6{
    width: 1440px;
    height: 641px;
    display: flex;
    justify-content: center;
    justify-content:space-evenly;
}

    .container-img-seccion6 h3{
        color: black;
        text-align: center;
        font-size: 28px;
        padding-top: 15px;
    }

    .container-img-seccion6 p{
        color: black;
        text-align: center;
        font-size: 20px;
    }

    .iconos{
        filter: opacity(0.4) drop-shadow(0 0 0 orange);
        padding: 10px;
    }

    .iconos:hover{
        transform:scale(1.25);
        filter: opacity(0.5) drop-shadow(0 0 0 black);
        cursor: pointer;
    }

    .container-iconos-seccion6{
        display: flex;
        justify-content: center;
        padding-top: 15px;
    }
    /*END CONTAINER IMG SECCION 6*/

/*END SECCION 6*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*OPEN SECCION 7*/
.container-seccion7{
    width: 1440px;
    height: 573px;
    background-color: #fcc302;
    background-image: url(/img/image-1-section-6.png);
    display: flex;
}

.columna-seccion7{
    width: 480px;
    height: 573px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.columna-seccion7 strong{
    font-size: 25px;
    padding-top: 10px;
}

.columna-seccion7 h2{
    font-weight: 500;
    padding-top: 40px;
}
/*END SECCION 7*/
/*----------------------------------------------------------------------------------------------------------*/
/*OPEN SECCION 8*/

.container-seccion8{
    width: 1440px;
    height: 1177px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
    /*OPEN CONTAINER LETRAS*/
.container-seccion8 .container-letras{
    width: 1440px;
    height: 404px;
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-seccion8 .container-letras h1{
    font-size: 55px;
}

.container-seccion8 .container-letras p{
    text-align: center;
    font-size: 22px;
}
    /*END CONTAINER LETRAS*/
    /*OPEN CONTAINER IMG*/

.container-seccion8 .container-img{
    width: 1440px;
    height: 773px;
    background-color:#ffffff;
    display: flex;
    justify-content: center;
}

.container-seccion8 .container-img h2{
    font-size: 30px;
    font-weight: 600;
    padding-left: 15px;
}

.container-seccion8 .container-img h4{
    color: #00bec9;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.container-seccion8 .container-img p{
    padding-bottom: 15px;
    padding-left: 15px;
}

.container-seccion8 .container-img a{
    color: #00bec9;
    font-size: 23px;
    font-weight: 600;
    padding-left: 15px;
}

.container-seccion8 .columna-seccion8{
    border: 2px solid #d6d6d6;
}

.img-seccion8{
    padding: 0px 15px 0px 15px;
}

.img-seccion8:hover{
    transform:scale(1.05);
    border: none;
}




    /*END CONTAINER IMG*/
/*END SECCION 8*/




/*OPEN FOOTER*/
.container-seccion-footer{
    width: 1440px;
    height: 657px;
    background-color: #343434;
    display: flex;
}

    /*OPEN CULUMNA 1*/
.container-seccion-footer .columna1{
    width: 410px;
    height: 656px;
    background-color: #343434;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-seccion-footer .columna1 li{
    list-style: none;
    text-align: left;
}

.container-seccion-footer .columna1 a{
    font-size: 18px;
}
    /*END COLUMNA 1*/
    /*OPEN COLUMNA 2*/

.container-seccion-footer .columna2{
    width: 330px;
    height: 656px;
    background-color: #343434;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-seccion-footer .columna2 li{
    list-style: none;
    text-align: left;
}

.container-seccion-footer .columna2 a{
    font-size: 18px;
}

.container-seccion-footer h2{
    padding-bottom: 15px;
}
    /*END COLUMNA 2*/
    /*OPEN CUOLUMNA 3*/

.container-seccion-footer .columna3{
    width: 700px;
    height: 656px;
    background-color: #343434;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-seccion-footer .columna3 h2, 
.container-seccion-footer .columna3 p{
    text-align: right;
}

.container-seccion-footer .columna3 p{
    font-size: 18px;
}

.container-seccion-footer .columna3 ul{
    display: flex;
    justify-content: right;
    padding-top: 20px;
}

.container-seccion-footer .columna3 li{
    list-style: none;
}

img.iconos-footer{
    padding: 10px;
}

.input-footer{
    width: 380px;
    height: 66px;
    background-color: #daac00;
    border-style: none;
    font-size: 25px;
}

.btn-footer2{
    width: 100px;
    height: 66px;
    background-color: #00bec9;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-footer{
    display: flex;
    padding-top: 25px;
}

img.iconos-footer:hover{
        transform:scale(1.25);
    }


    /*END COLUMNA 3*/

/*END FOOTER*/
/*END CONTAINERS*/




